<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing actor anthology</h1>

  <%= render "form", actor_anthology: @actor_anthology %>

  <%= link_to "Show this actor anthology", @actor_anthology, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to actor anthologies", actor_anthologies_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
